{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "modules": true,
    "spread": true,
    "experimentalObjectRestSpread": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "array-bracket-spacing": ["error", "always"],
    "block-spacing": "error",
    "comma-spacing": ["error", {"before": false, "after": true}],
    "eqeqeq": ["error", "smart"],
    "no-cond-assign": "error",
    "no-const-assign": "error",
    "no-dupe-args": "error",
    "no-dupe-class-members": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-empty": "error",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-extra-semi": "error",
    "no-func-assign": "error",
    "no-invalid-this": "error",
    "no-irregular-whitespace": "error",
    "no-lone-blocks": "error",
    "no-mixed-spaces-and-tabs": "error",
    "no-sparse-arrays": "error",
    "no-undef": "error",
    "no-use-before-define": "error",
    "no-var": "error",
    "object-shorthand": "error",
    "prefer-arrow-callback": "error",
    "react/jsx-indent-props": ["error", 2],
    "react/jsx-no-duplicate-props": "error",
    "react/jsx-no-undef": "error",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/no-direct-mutation-state": "error",
    "react/no-unknown-property": "error",
    "react/self-closing-comp": "error",
    "react/wrap-multilines": "error",
    "arrow-parens": ["warn", "always"],
    "arrow-spacing": "warn",
    "brace-style": ["warn", "1tbs"],
    "comma-dangle": ["warn", "always-multiline"],
    "curly": ["warn", "multi-line"],
    "dot-location": ["warn", "property"],
    "jsx-quotes": ["warn", "prefer-double"],
    "no-console": "warn",
    "no-constant-condition": "warn",
    "no-fallthrough": "warn",
    "no-labels": "warn",
    "no-multiple-empty-lines": ["warn", {"max": 1}],
    "no-trailing-spaces": "warn",
    "no-underscore-dangle": "warn",
    "no-unneeded-ternary": "warn",
    "no-unused-vars": ["warn", {"varsIgnorePattern": "^styles$"}],
    "object-curly-spacing": ["warn", "always"],
    "prefer-const": "warn",
    "prefer-spread": "warn",
    "prefer-template": "warn",
    "react/jsx-closing-bracket-location": ["warn", {"selfClosing": "props-aligned", "nonEmpty": "props-aligned"}],
    "react/jsx-curly-spacing": ["warn", "never"],
    "react/no-danger": "warn",
    "react/prop-types": "warn",
    "semi": ["warn", "always"]
  }
}
